*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	background: #000;
	height: 100vh;
	/* overflow: hidden; */
	font-family: Ace Sans;
}
body ul li{
	list-style: none;
}
body a{
	text-decoration: none;
}

/* header */
header{
	width: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.Lround {
	width: 65px;
	height: 65px;
	background: linear-gradient(#FF4E50,#F9D423);
	border-radius: 50%;
	margin: 10px;
}
nav {
	width: 100%;
	text-align: center;
	padding-top: 16px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	color: #fff;
}
.HIcon{
	width: 100%;
}
.Hwrap {
	width: 200px;
	height: 90px;
	background: #fff;
	float: right;
	padding: 10px;
	text-align: right;
	clip-path: circle(46.5% at 100% 0);
	cursor: pointer;
}
.Hwrap img {
	width: 38px;
	object-fit: cover;
}

/* container */
.container{
	width: 100%;
	display: grid;
	grid-template-columns: 6% 94%;
}
.sideline {
	width: 100%;
	display: flex;
    align-items: flex-end;
}
.line {
	display: flex;
	padding: 0px 10px;
	overflow: hidden;
}
.line span{
	width: 5px;
	height: 200px;
	background: #fff;
	display: inline-block;
	margin: 5px;
}
.lone {
	display: block;
}
.ltwo {
	display: block;
	margin-top: 50px;
}
.lthree{
	display: block;
	margin-top: 100px;
}


/* container Header */
.heading img {
	width:55%;
}
.up {
	text-align: center;
	width: 100%;
	height: 438px;
	overflow: hidden;
	background: url('./img/flower.png') no-repeat;
	background-position: 45%;
	background-size: 57%;
	display: grid;
	place-items: center;
	place-content: center;
	padding-right: 36px;
}
.up h1{
	font-size: 150px;
	color: #fff;
	mix-blend-mode: difference;
	text-shadow:2px 1px 1px #FFFFFF,
				2px 1px 3px #FFFFFF,
				2px -2px 1px #FFFFFF,
				-2px 1px 1px #FFFFFF,
				2px 2px 3px #000,
				-2px 5px 4px #000;
    font-weight: 400;
}
.up h1:last-child {
	transform: translate(53px, -95px);
}
.up span {
	letter-spacing: -0.45em;
}
.down {
	width: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
}
.paraG p {
	color: white;
	
}
.solink ul li {
	display: inline-block;
	padding: 0px 8px;
	overflow: hidden;
}
.solink a {
	color: white;
	display: inline-block;
	font-size: 14px;
	position:relative;
	padding:5px 0px;
	cursor:pointer;
}
.solink a::after{
	content:"";
	width:0%;
	height:2px;
    background:#fff;
	position:absolute;
	bottom:0px;
	left:0px;
	transition:.5s;

}
.solink a:hover::after{
	width:100%;
}

.solink {
	padding-top: 70px;
	font-family: LEMON MILK;

}